/* .footer-banner-container{
    padding: 100px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1; 
    color: white;
    width: 100%;
    margin-top: 120px;
}

.footer-banner-image{
    position: absolute;
    top: -25%;
    left: 25%;
}

.footer-banner-image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
}

.footer-banner-container{
    height: 560px;
    margin-top: 80px;
}

.banner-desc{
    display: flex ;
    justify-content: space-between;
  }
  .banner-desc button{
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: red;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 80px;
    margin-left: 25px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .footer-banner-image{
    position: absolute;
    top: -25%;
    left: 25%;
  }
  .banner-desc .right{
    line-height: 1.4;
  }
  .banner-desc .right h3{
    font-weight: 800;
    font-size: 60px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
    font-weight: 300;
  }

  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
*/
.footer-image-banner-page { 
    position: absolute;
    z-index: 1;
    bottom: 1px;
    /* left: 20px; */
    right: 567px;
} 

.footer-container-right-side { 
  position: relative;
  left: 350px;
  width: 440px;
  height: 300px;
  bottom: 80px;
  float: left;
}

.left { 
  position: relative;
  bottom: 34px;
}

@media only screen and (max-width: 1100px) {
    .footer-image-banner-page { 
      position: absolute;
      z-index: 1;
      bottom: 1px;
      /* left: 20px; */
      right: 100px;
  } 

  .footer-container-right-side { 
    position: relative;
    left: 350px;
    width: 440px;
    height: 300px;
    bottom: 80px;
    float: left;
    font-size: 10px;
  }
}